<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Boolzap</title>
</head>
<body>
    <div id="root" class="container">
        <!-- INIZIO CONTENITORE CONTATTI -->
        <div class="container_contact">
            <!-- INIZIO SEZIONE UTENTE -->
            <section class="user">
                <div class="info_user">
                    <img class="img_user" :src="'img/avatar' + user.avatar + '.jpg'" src="img\avatar_io.jpg" alt="">
                    <span>{{user.nome}}</span>
                </div>
                <div class="other_user">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>
            <!-- FINE SEZIONE UTENTE -->
            <!-- INIZIO SEZIONE NOTIFICHE -->
            <section class="notification">
                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="text_notification">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <br>
                    <span class="span_small">Attiva notifiche desktop</span>
                </div>
            </section>
            <!-- FINE SEZIONE NOTIFICHE -->
            <!-- INIZIO SEZIONE RICERCA -->
            <section class="search">
                <button class="search_btn"><i class="fas fa-search"></i></button>
                <input @keyup="filterName" v-model="searchName" class="search_chat" type="text" placeholder="Cerca o inizia una nuova chat">
            </section>
            <!-- FINE SEZIONE RICERCA -->
            <!-- INIZIO SEZIONE CONTATTI -->
            <section class="content_contact">
                <ul class="list_contact">
                    <li :class="[(element.visible == false && !(searchName == '')) ? 'hidden' : null, (index == indexContact) ? 'active' : null]" @click="selectContact(index)" v-for="(element, index) in contacts" class="contact">
                        <img :src="'img/avatar' + element.avatar + '.jpg'" class="img_user" alt="image_contact">
                        <div class="lasttext_name_contact">
                            <span>{{element.name}}</span>
                            <br>
                            <span class="span_small">{{contacts[index].messages[contacts[index].messages.length - 1].text}}</span>
                        </div>
                        <span class="span_small data">{{contacts[index].messages[contacts[index].messages.length - 1].date}}</span>
                    </li>
                </ul>
            </section>
            <!-- FINE SEZIONE CONTATTI -->
        </div>
        <!-- FINE CONTENITORE CONTATTI -->
        <!-- INIZIO CONTENITORE CHAT -->
        <div class="container_chat">
            <!-- INIZIO HEADER CHAT -->
            <div class="header_chat">
                <div class="information_contact">
                    <img :src="'img/avatar' + contacts[indexContact].avatar + '.jpg'" class="img_user">
                    <div class="name_access_contact">
                        <span>{{contacts[indexContact].name}}</span>
                        <br>
                        <span class="span_small">Ultimo accesso: {{contacts[indexContact].messages[contacts[indexContact].messages.length - 1].date}}</span>
                    </div>
                </div>

                <div class="other_chat">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- FINE HEADER CHAT -->
            <!-- INIZIO BODY CHAT -->

            <div class="body_chat">

                <!-- <div v-for="(element, index) in contacts[indexContact].messages" class="container_message"> -->
                <div v-for="(element, index) in contacts[indexContact].messages" class="message" :class="(element.status == 'sent') ? 'send' : 'received'">
                    <span class="span_message">{{element.text}}</span>
                    <span class="span_data">{{element.date}}</span>
                    <i @mouseleave="hiddenActionMessage(index)" @click="showActionMessage(index)" class="fas fa-angle-down icon_action_message">
                        <div class="content_action_message hidden">
                            <div class="info_message">Message info</div>
                            <div @click="deleteMessage(index)" class="delete_message">Delete message</div>
                        </div>
                    </i>
                </div>
            </div>
            <!-- FINE BODY CHAT -->
            <!-- INIZIO FOOTER CHAT -->

            <div class="footer_chat">
                <i class="far fa-smile"></i>
                <input @keyup.enter="sendMessage" v-model="newText" placeholder="Scrivi un messaggio" class="input_message" type="text">
                <i class="fas fa-microphone"></i>
            </div>

            <!-- FINE FOOTER CHAT -->
        </div>
        <!-- FINE CONTENITORE CHAT -->
    </div>
    <script src="js/script.js"></script>
</body>
</html>